{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "severity": "warning"
    }],
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "import-normalize"
      ]
    }],
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "string-quotes": "single",
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "selector-max-compound-selectors": 5,
    "color-named": "always-where-possible",
    "selector-max-class": 5,
    "selector-max-attribute": 3,
    "selector-max-combinators": 5,
    "selector-max-id": 5,
    "selector-max-pseudo-class":3,
    "selector-no-qualifying-type": true,
    "selector-max-type": 5,
    "selector-max-universal": 2,
    "font-weight-notation": "named-where-possible"
  }
}
